{{- if eq .Values.mode "auto" }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: mw-lang-detector
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: mw-lang-detector  
  template:
    metadata:
      labels:
        app: mw-lang-detector
    spec:
      containers:
      - image: {{ .Values.mw.images.langDetector.repository }}:{{ .Values.mw.images.langDetector.tag }}
        imagePullPolicy: {{ .Values.mw.images.pullPolicy }}
        name: mw-lang-detector
        command: ["/app/mw-lang-detector"]
        args: ["start"]
        env:
          - name: MW_TARGET
            value: {{ or .Values.global.mw.target "XXXXXX" | quote }}
          - name: MW_API_KEY
            valueFrom:
              secretKeyRef:
                name: middleware-secret
                key: api-key
          - name: MW_KUBE_CLUSTER_NAME
            value: {{ or .Values.global.clusterMetadata.name "unknown" | quote }}
          - name: MW_RELEASE_NAMESPACE
            value: {{ .Release.Namespace }}
          - name: K8S_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MW_API_URL_FOR_LANG_AGGREGATOR
            value: "http://mw-lang-aggregator.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:{{ .Values.mw.langAggregatorService.port }}"
          {{- if .Values.langDetector.userExcludedNamespaces }}
          - name: MW_USER_EXCLUDED_NAMESPACES
            value: {{ join "," .Values.langDetector.userExcludedNamespaces | quote }}
          {{- end }}
        resources:
        {{- toYaml .Values.langDetector.resources | nindent 12 }}      
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /proc
          mountPropagation: None
          name: proc
          {{- if .Values.skipSELinuxLabeling }}
          readOnly: true
          {{- end }}
      hostPID: true
      securityContext:
        runAsUser: 0
      serviceAccountName: mw-lang-detector
      {{- with .Values.langDetector.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.langDetector.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.langDetector.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.langDetector.priorityClassName }}
      priorityClassName: {{ .Values.langDetector.priorityClassName }}
      {{- end }}
      volumes:
      - hostPath:
          path: /proc
        name: proc
{{- end }}
