{{- if eq .Values.mode "auto" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mw-auto-injector
  name: mw-auto-injector
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mw-auto-injector
  template:
    metadata:
      labels:
        app: mw-auto-injector
    spec:
      containers:
        - image: {{ .Values.mw.images.autoInjector.repository }}:{{ .Values.mw.images.autoInjector.tag }}
          imagePullPolicy: {{ .Values.mw.images.pullPolicy }}
          name: mw-auto-injector
          env:
            - name: TLS
              value: "true"
            - name: LOG_LEVEL
              value: "debug"
            - name: LOG_JSON
              value: "false"
            - name: MW_TARGET
              value: {{ or .Values.global.mw.target "XXXXXX" | quote }}
            - name: MW_API_KEY
              value: {{ or .Values.global.mw.apiKey "XXXXXX" | quote }}
            - name: MW_KUBE_CLUSTER_NAME
              value: {{ or .Values.global.clusterMetadata.name "unknown" | quote }}
            - name: MW_RELEASE_NAMESPACE
              value: {{ .Release.Namespace }}
          resources:
          {{- toYaml .Values.webhook.resources | nindent 12 }}      
          volumeMounts:
            - name: tls
              mountPath: "/etc/admission-webhook/tls"
              readOnly: true
      {{- with .Values.webhook.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.webhook.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.webhook.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook.priorityClassName }}
      priorityClassName: {{ .Values.webhook.priorityClassName }}
      {{- end }}
      volumes:
        - name: tls
          secret:
            secretName: mw-auto-injector-tls
{{- end }}
